/* 
* File: member.component.css
* Author: Szivák Gergő
* Copyright: 2022, Szivák Gergő
* Group: Szoft II/N
* Date: 2022-03-31
* Github: https://github.com/Gergosz-2000/member
* Licenc: GNU GPL  
*/
input.ng-invalid {
    border-style: solid;
    border-width: 3px;
    border-color: red;
}